USE [master]
GO
/****** Object:  Database [SellDB]    Script Date: 02.02.2021 2:45:15 ******/
CREATE DATABASE [SellDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SellDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SellDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SellDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SellDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SellDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SellDB]
GO
/****** Object:  Table [dbo].[Naimenovanie]    Script Date: 02.02.2021 2:45:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Naimenovanie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Articul] [nvarchar](max) NULL,
	[Naimenovanie] [nvarchar](max) NULL,
	[Height] [int] NULL,
	[Width] [int] NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_Naimenovanie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Naimenovanie] ON 

INSERT [dbo].[Naimenovanie] ([id], [Articul], [Naimenovanie], [Height], [Width], [Price]) VALUES (201, N'ПЦ-602-2462', N'Полотенце', 50, 100, 2861)
INSERT [dbo].[Naimenovanie] ([id], [Articul], [Naimenovanie], [Height], [Width], [Price]) VALUES (202, N'ПЦ-602-2460', N'Полотенце', 50, 100, 3314)
INSERT [dbo].[Naimenovanie] ([id], [Articul], [Naimenovanie], [Height], [Width], [Price]) VALUES (203, N'ПЦ-615-2464', N'Полотенце', 50, 100, 458)
GO
SET IDENTITY_INSERT [dbo].[Naimenovanie] OFF
GO
USE [master]
GO
